@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600;700;800;900&family=Inter:wght@400;500;600&display=swap");

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Bold.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/Garamond-I.woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  transition: all 0.25s linear 0s;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

sup {
  font-size: 70% !important;
}

.h-shadow-black {
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 5px 3px) !important;
}

.h-shadow-blue {
  filter: drop-shadow(rgba(0, 112, 243, 0.4) 0px 5px 3px) !important;
}

.grad1 {
  background: radial-gradient(
      77.73% 77.73% at 98.52% 96.25%,
      rgba(249, 139, 218, 0.4) 0%,
      rgba(128, 76, 239, 0) 50.52%,
      rgba(91, 216, 216, 0) 100%
    ),
    linear-gradient(
      126.99deg,
      rgba(129, 119, 243, 0.4) 4.57%,
      rgba(36, 107, 253, 0.4) 77.72%
    );
  filter: blur(100px);
  height: 500px;
  width: 500px;
  border-radius: 50%;
  position: absolute;
  bottom: -10%;
  left: -5%;
  /* z-index: -1; */
  opacity: 0.6;
}
.grad2 {
  background: radial-gradient(
      77.95% 77.95% at 74.66% 58.07%,
      rgba(36, 107, 253, 0.4) 0%,
      rgba(255, 255, 255, 0.075) 62.28%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      89.67% 70.39% at 93.75% 92.16%,
      rgba(41, 194, 215, 0.4) 0%,
      rgba(144, 160, 215, 0.196) 52.46%,
      rgba(255, 156, 156, 0) 100%
    ),
    radial-gradient(
      68.86% 68.86% at 94.55% 1.7%,
      rgba(144, 161, 250, 0.4) 0%,
      rgba(171, 144, 250, 0) 100%
    ),
    linear-gradient(
      130.87deg,
      rgba(88, 125, 255, 0.4) 3.47%,
      rgba(39, 100, 255, 0.18) 77.25%
    );
  height: 500px;
  width: 500px;
  filter: blur(100px);
  top: -10%;
  right: -10%;
  border-radius: 50%;
  position: absolute;
  /* z-index: -1; */
  opacity: 0.5;
}
.grad3 {
  background: radial-gradient(
    149.87% 146.36% at 89.49% 87.48%,
    rgb(18, 194, 233) 0%,
    rgb(202, 105, 250) 54.3%,
    rgb(254, 71, 82) 100%
  );
  filter: blur(100px);
  height: 600px;
  width: 600px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: -15%;
  z-index: -1;
  opacity: 0.2;
}
.grad4 {
  background: radial-gradient(
      77.73% 77.73% at 98.52% 96.25%,
      rgb(249, 139, 218) 0%,
      rgba(128, 76, 239, 0) 50.52%,
      rgba(91, 216, 216, 0) 100%
    ),
    linear-gradient(
      126.99deg,
      rgb(129, 119, 243) 4.57%,
      rgb(36, 107, 253) 77.72%
    );
  filter: blur(100px);
  height: 800px;
  width: 800px;
  border-radius: 50%;
  position: absolute;
  top: -25%;
  right: -15%;
  z-index: -1;
  opacity: 0.2;
}

.text-grad {
  background-image: url(/assets/gradient-33.png);
  background-clip: text;
  background-size: cover;
  background-position: center;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-blend-mode: screen;
  font-family: Clash Display !important;
  font-weight: 700;
}

/* connect button */
[data-rk] .ju367v93 {
  background: transparent !important;
  color: whitesmoke !important;
  border: 1px solid whitesmoke !important;
  border-radius: 6px !important;
  font-size: 16px !important;
  font-family: "Inter" !important;
}
[data-rk] .ju367v9o {
  background: none !important;
}
[data-rk] .ju367vdr {
  box-shadow: none !important;
}
[data-rk] .ju367vf3 {
  color: whitesmoke !important;
}
[data-rk] .ju367vt {
  border: 1px solid whitesmoke !important;
}
